<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCXQQL-hkhnp5TE0WVM3-l1xX_nANHnRlg</string>
	<key>GCM_SENDER_ID</key>
	<string>43260450919</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.expenses</string>
	<key>PROJECT_ID</key>
	<string>chat-app-672db</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-672db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:43260450919:ios:0e4de8ac0a8e275a371cc2</string>
</dict>
</plist>